.trainingContainer {
  width: 100%;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  width: 100%;
  max-height: 500px;
  overflow: hidden;
}

.imageContainer img {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 0 0;
}

.text h3 {
  position: absolute;
  top: 2%;
  color: #858585;
}

.text h1 {
  color: #ececec;
  font-size: 3rem;
  margin: 0;
}

.text h2 {
  font-size: 4rem;
  margin: 0;
  color: #1c7f47;
}

.text p {
  font-size: 1rem;
  color: #858585;
  margin-bottom: 3.5rem;
}

.trainingPricesContainers {
  width: 100%;
  height: 100%;
  margin: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.trainingPricesContainer1 {
  width: 25%;
  height: 32rem;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.trainingPricesContainer2 {
  width: 30%;
  height: 35rem;
  background-color: #1c8c4c;
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.trainingPricesContainer1 h1,
.trainingPricesContainer2 h1 {
  font-size: 2rem;
}

.trainingPricesContainer1 p,
.trainingPricesContainer2 p {
  font-size: 1rem;
}

.enrollButton1 {
  cursor: pointer;
  background-color: #1c8c4c;
  padding: 0.6rem 1.3rem;
  color: white;
  font-size: var(--size-5);
  box-shadow: 5px 5px 0px 1px #165431;
  margin-top: 1rem;
}

.enrollButton2 {
  cursor: pointer;
  background-color: #efad32;
  padding: 0.6rem 1.3rem;
  color: white;
  font-size: var(--size-5);
  box-shadow: 5px 5px 0px 1px #db981b;
  margin-top: 1rem;
}

.buttonDisabled {
  background-color: #ababab;
  padding: 0.6rem 1.3rem;
  color: white;
  font-size: var(--size-5);
  box-shadow: 5px 5px 0px 1px #888888;
}

.confirmButton {
  margin: 1rem 0;
}

.confirmtButtonDisabled {
  text-align: center;
  background-color: #888787;
  border: 2px solid #888787;
  padding: 2%;
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

@media screen and (max-width: 720px) {
  .trainingPricesContainers {
    flex-direction: column;
  }

  .trainingPricesContainer1,
  .trainingPricesContainer2 {
    width: fit-content;
  }
}

@media screen and (max-width: 450px) {
  .text h3 {
    display: none;
  }

  .text h1 {
    display: none;
  }

  .text h2 {
    font-size: 2rem;
  }

  .text p {
    display: none;
  }
}
/* --------------- */

/* .trainingPricesContainer2 img {
  width: 100%;
  height: 30rem;
  opacity: 15%;
  color: white;
} */

/* .textContainer2 {
  position: absolute;
  top: 30%;
}

.textContainer2 div {
  margin-top: 3rem;
} */

/* .textContainer2 h2 {
  margin: 3rem 0 0 0;
} */

/* .textContainer2 h1 {
  font-size: 4rem;
  margin: 0;
} */

/* .trainingPricesContainer1 div,
.trainingPricesContainer3 div {
  margin-top: 3rem;
} */

/* .enrollButton2::before {
  background-color: #f2a922;
  padding: 0.6rem 1.3rem;
  color: white;
  font-size: var(--size-5);
} */

/* .enrollButton1::before {
  background-color: #165431;
  padding: 0.6rem 1.3rem;
  color: white;
  font-size: var(--size-5);
} */

/* .equipmentsContainer {
  position: absolute;
  top: 130%;
  display: flex;
  flex-direction: row;
}

.equipmentContainer {
  display: flex;
  flex-direction: row;
  padding: 0 4rem;
}

.equipmentContainer img {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}

.equipmentContainer h1 {
  margin: 0;
} */

/* @media screen and (max-width: 670px) {
  .trainingPricesContainers {
    flex-direction: column;
  }
} */
