.trainingContainer {
  width: 100%;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.imageContainer img {
  width: 100%;
  height: 600px;
}

.text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 0 0;
}

.text h3 {
  position: absolute;
  top: 2%;
  color: #858585;
}

.text h1 {
  color: #ececec;
  font-size: 3rem;
  margin: 0;
}

.text h2 {
  font-size: 4rem;
  margin: 0;
  color: #1c7f47;
}

.text p {
  font-size: 1rem;
  color: #858585;
  margin-bottom: 3.5rem;
}

/* --------------- */

.trainingPricesContainers {
  width: 100%;
  /* margin: 3rem; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60%;
}

.trainingPricesContainer1,
.trainingPricesContainer3 {
  width: 25%;
  height: 35%;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 3rem;
}

.trainingPricesContainer2 {
  position: relative;
  width: 35%;
  height: 30rem;
  background-color: rgb(26, 87, 50);
  color: white;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 2rem;
}

/* .trainingPricesContainer2 img {
  width: 100%;
  height: 30rem;
  opacity: 15%;
  color: white;
} */

.textContainer2 {
  position: absolute;
  /* top: 30%; */
}

.textContainer2 div {
  margin-top: 3rem;
}

/* .textContainer2 h2 {
  margin: 3rem 0 0 0;
} */

.textContainer2 h1 {
  font-size: 4rem;
  margin: 0;
}

.contactButton {
  background-color: #efad32;
  padding: 0.6rem 1.3rem;
  /* border: 10px solid rgb(137, 227, 59); */
  color: white;
  font-size: var(--size-5);
  box-shadow: 5px 5px 0px 1px #db981b;
}

.trainingPricesContainer1 div,
.trainingPricesContainer3 div {
  margin-top: 3rem;
}

.contactButton::before {
  background-color: #f2a922;
  padding: 0.6rem 1.3rem;
  color: white;
  font-size: var(--size-5);
}

.contactButton1 {
  background-color: #1c8c4c;
  padding: 0.6rem 1.3rem;
  /* border: 10px solid rgb(137, 227, 59); */
  color: white;
  font-size: var(--size-5);
  box-shadow: 5px 5px 0px 1px #165431;
}

.contactButton1::before {
  background-color: #165431;
  padding: 0.6rem 1.3rem;
  color: white;
  font-size: var(--size-5);
}

.equipmentsContainer {
  position: absolute;
  top: 130%;
  display: flex;
  flex-direction: row;
}

.equipmentContainer {
  display: flex;
  flex-direction: row;
  padding: 0 4rem;
}

.equipmentContainer img {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}

.equipmentContainer h1 {
  margin: 0;
}

@media screen and (max-width: 670px) {
  .trainingPricesContainers {
    flex-direction: column;
  }
}
