.firstStepContainer {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.playersAndCourtContainer {
  background-color: #ebebeb;
  width: 100%;
  height: 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 3rem;
  margin-bottom: 3rem;
}

.playersAndCourtContainer h1 {
  margin-right: 1rem;
}

.playersAndCourtContainer select {
  width: max-content;
  font-size: 1rem;
  height: 2rem;
  margin-left: 4rem;
}

.playersAndCourt {
  display: flex;
  flex-direction: row;
}

.dateContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem 2.5rem 3rem;
}

.dateContainer img {
  width: 500px;
  height: 400px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
  margin-bottom: 3rem;
}

.nextButton {
  background-color: #1c7f47;
  padding: 0.8rem 2rem;
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nextButton:hover {
  background-color: #146135;
  transition: 0.3s ease-out;
}

.nextButtonDisabled {
  text-align: center;
  background-color: #888787;
  padding: 0.8rem 2rem;
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1114px) {
  .dateContainer {
    flex-direction: column;
  }

  .dateContainer img {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 840px) {
  .playersAndCourtContainer {
    flex-direction: column;
  }

  .playersAndCourt {
    padding-right: 4rem;
  }
}

@media screen and (max-width: 590px) {
  .playersAndCourtContainer h1 {
    margin: 0;
    padding-bottom: 0.7rem;
  }

  .playersAndCourtContainer select {
    width: 100%;
    margin-bottom: 0.5rem;
    margin-left: 0;
    height: 1.4rem;
  }

  .playersAndCourt {
    flex-direction: column;
  }

  .dateContainer img {
    width: 380px;
    height: 300px;
  }
}

@media screen and (max-width: 440px) {
  .dateContainer img {
    width: 310px;
    height: 270px;
  }

  .playersAndCourt {
    padding-right: 0;
  }
}
