.bookingDate {
  background-image: url("../../public/images/calendarBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 500px;
  height: 400px;
  color: white;
}

.monthYear {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 2rem;
}

.monthYear h2 {
  margin: 0;
  font-size: 2rem;
}

.bookingDate button {
  background-color: transparent;
  border: none;
  color: white;
  margin: 0;
  padding: 0;
}

.calendarTable {
  text-align: center;
}

.calendarTable th {
  padding: 0 0.9rem;
  font-size: 1.5rem;
}

.calendarTable td {
  padding: 0.7rem;
}

.calendarTable tbody {
  cursor: pointer;
}

.activeDay {
  background-color: #efad32;
  color: white;
}

.previousDay {
  color: #9e9e9e;
}

.currentDate {
  background-color: #163322;
}
