.imageContainer {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
}

.imageContainer img {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.imageContainer h1 {
  position: absolute;
  top: 15.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
}

@media screen and (max-width: 555px) {
  .imageContainer h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 430px) {
  .imageContainer h1 {
    font-size: 30px;
    top:5%;
  }
}