.logo {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  color: rgb(255,255,0);
  font-style: italic;
}

/* @media (min-width: 768px) {
  .logo {
    font-size: var(--size-8);
  }
} */
