.header {
  width: 95%;
  height: 15%;
  position: absolute;
  top: 4%;
  background-color: rgb(255, 255, 255, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 0 3%;
  margin-left: 2rem;
  z-index: 10;
}

.ul {
  list-style: none;
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 0;
}

.navbarList {
  margin: 0 var(--size-4);
  color: rgb(0, 0, 0);
  font-size: var(--size-5);
}

.navbarList:hover {
  color: rgb(137, 227, 59);
}

.loginButton {
  background-color: rgb(137, 227, 59);
  border: 10px solid rgb(137, 227, 59);
  color: black;
  margin-left: 2rem;
  font-size: var(--size-5);
}

.loginButton:hover {
  background-color: rgb(100, 165, 43);
  border-color: rgb(100, 165, 43);
  color: white;
}

.user {
  position: relative;
}

.userName {
  width: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(137, 227, 59);
  border: 10px solid rgb(137, 227, 59);
  color: black;
  margin-left: 2rem;
  font-size: var(--size-5);
  cursor: pointer;
}


.userName:hover {
  background-color: rgb(100, 165, 43);
  border-color: rgb(100, 165, 43);
  color: white;
}

.icon {
  margin-left: 1rem;
}

.userList {
  display: none;
  position: absolute;
  left: 26%;
  width: 7rem;
  height: 8rem;
  list-style-type: none;
  padding: 2%;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  font-size: 1.3rem;
}

.userList:hover {
  display: flex;
  flex-direction: column;
}

.user:hover .userList {
  display: block;
}

.list {
  color: black;
  width: 1rem;
}

.list:hover {
  color: rgb(137, 227, 59);
}

/* @media (min-width: 768px) {
  .header ul {
    gap: 0.5rem;
  }

  .header a {
    font-size: var(--size-5);
  }
} */
