

.header {
  width: 95%;
  height: 15%;
  position: absolute;
  top: 4%;
  background-color: rgb(255, 255, 255, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 0 3%;
  margin-left: 2rem;
  z-index: 10;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 0;
}

.header li {
  margin: 0 var(--size-4);
}

.header a {
  color: rgb(0, 0, 0);
  font-size: var(--size-5);
}

.header a:hover {
  color: rgb(137, 227, 59);
}

.header button {
  background-color: rgb(137, 227, 59);
  border: 10px solid rgb(137, 227, 59);
  /* border-radius: 10%; */
  color: black;
  margin-left: 2rem;
}

.header button:hover {
  background-color: rgb(100, 165, 43);
  border-color: rgb(100, 165, 43);
  color: white;
}

.header a:hover,
.header a:active,
.header a.active {
  /* color: var(--color-grey-200); */
  font-weight: bold;
}

/* @media (min-width: 768px) {
  .header ul {
    gap: 0.5rem;
  }

  .header a {
    font-size: var(--size-5);
  }
} */
