.container {
  width: 100%;
}

.header {
  width: 95%;
  height: 13%;
  position: absolute;
  top: 4%;
  /* background-color: rgba(247, 0, 0, 0.8); */
  background-color: rgb(255, 255, 255, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 0 3%;
  transform: translateX(2.5%);
  z-index: 10;
}

.ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navbarListHome a,
.navbarListBook a,
.navbarListPartner a,
.navbarListTraining a,
.navbarListBlogs a,
.navbarListContact a,
.navbarListAbout a {
  margin: 0 var(--size-4);
  color: rgb(0, 0, 0);
  font-size: var(--size-5);
  font-weight: bolder;
}

.navbarListHome a:hover,
.navbarListBook a:hover,
.navbarListPartner a:hover,
.navbarListTraining a:hover,
.navbarListBlogs a:hover,
.navbarListContact a:hover,
.navbarListAbout a:hover {
  color: #1c7f47;
}

.loginButton {
  background-color: #efad32;
  padding: 0.6rem 1.3rem;
  color: white;
  margin-left: 2rem;
  font-size: var(--size-5);
  box-shadow: 5px 5px 0px 1px #db981b;
}

.loginButton::before {
  background-color: #f2a922;
  padding: 0.6rem 1.3rem;
  color: white;
  margin-left: 2rem;
  font-size: var(--size-5);
}

.user {
  position: relative;
}

.userName {
  width: fit-content;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #1c7f47;
  color: white;
  margin-left: 2rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.userName:hover {
  background-color: #146135;
  color: white;
}

.icon {
  margin-left: 1rem;
}

.userList {
  text-align: center;
  /* display: none; */
  position: absolute;
  list-style-type: none;
  background-color: rgb(255, 255, 255);
  font-size: 1.3rem;
  margin-left: 2rem;
  top: 100%;
  right: 0.5%;
  width: 10rem;
}

.userList:hover {
  background-color: white;
}

.user:hover .userList {
  display: block;
}

.list {
  color: black;
}

.list:hover {
  color: #1c7f47;
}

.navbarToggleContainer {
  display: none;
}

.sideNavbarContainer {
  display: none;
}

@media (min-width: 810px) and (max-width: 1110px) {
  .navbarListHome,
  .navbarListBlogs,
  .navbarListContact,
  .navbarListAbout {
    display: none;
  }
}

@media (max-width: 809px) {
  .navbarListHome,
  .navbarListBook,
  .navbarListPartner,
  .navbarListTraining,
  .navbarListBlogs,
  .navbarListContact,
  .navbarListAbout {
    display: none;
  }

  .header {
    height: 10%;
  }

  .loginButton {
    padding: 0.4rem 1rem;
    font-size: var(--size-4);
    box-shadow: 5px 5px 0px 1px #db981b;
    margin-right: 0.5rem;
  }

  .userName {
    width: fit-content;
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
  }

  /* .userList {
    font-size: 1.25rem;
    width: 5rem;
  } */

  .navbarToggleContainer {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 0.3rem 0 0 1rem;
    padding: 8px;
    background-color: #1c7f47;
    border-radius: 100%;
    z-index: 2;
  }

  .line1 {
    border-radius: 10px;
    width: 25px;
    height: 4px;
    background-color: white;
    margin-bottom: 6px;
    transition: 0.4s;
  }
  .line2 {
    border-radius: 10px;
    width: 25px;
    height: 4px;
    background-color: white;
    margin-bottom: 6px;
    transition: 0.4s;
  }
  .line3 {
    border-radius: 10px;
    width: 25px;
    height: 4px;
    background-color: white;
    margin-top: 6px;
    transition: 0.4s;
  }

  .change .line1 {
    transform: translate(0, 10px) rotate(-45deg);
  }

  .change .line2 {
    opacity: 0;
  }

  .change .line3 {
    transform: translate(0, -10px) rotate(45deg);
  }

  .sideNavbarContainer {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 90px;
    font-size: 1.2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .show .sideNavbarContainer {
    width: 250px;
  }

  .ulSmallScreen {
    list-style: none;
    padding: 0;
  }

  .ulSmallScreen li {
    margin: var(--size-2) 0 var(--size-3) 0.8rem;
    font-size: var(--size-5);
    font-weight: bolder;
  }

  .ulSmallScreen a {
    color: rgb(0, 0, 0);
  }

  .ulSmallScreen a:hover {
    color: #1c7f47;
  }
}

@media (max-width: 500px) {
  .header {
    top: 1%;
    height: 6%;
  }

  .login {
    margin-bottom: 0.4rem;
  }

  .loginButton {
    padding: 0.1rem 0.5rem;
    font-size: 0.7rem;
    box-shadow: 3px 3px 0px 1px #db981b;
  }

  .userName {
    width: fit-content;
    padding: 0.1rem 0.3rem;
    font-size: 0.8rem;
  }

  .icon {
    margin-left: 0.6rem;
  }

  .navbarToggleContainer {
    padding: 5px;
    margin-top: 0.3rem;
  }

  .line1 {
    margin-bottom: 4px;
    width: 16px;
    height: 2px;
  }
  .line2 {
    margin-bottom: 4px;
    width: 16px;
    height: 2px;
  }
  .line3 {
    margin-top: 4px;
    width: 16px;
    height: 2px;
  }

  .change .line1 {
    transform: translate(0, 6px) rotate(-45deg);
  }

  .change .line2 {
    opacity: 0;
  }

  .change .line3 {
    transform: translate(0, -6px) rotate(45deg);
  }
}
