.bookingContainer {
  position: relative;
  width: 100%;
}

.imageContainer {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
}

.imageContainer img {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
