.container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 8rem 5rem;
  height: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.texth3 {
  position: absolute;
  top: 7%;
  color: #858585;
}

.text h1 {
  color: #ececec;
  font-size: 3rem;
  margin: 0;
}

.text h2 {
  font-size: 4rem;
  margin: 0;
}

.text p {
  font-size: 1rem;
  color: #858585;
  margin-bottom: 3rem;
}

.bookingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  /* margin: 4rem 2rem 0 5rem; */
  padding: 1rem 2rem;
  border-radius: 10px;
  width: 100%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  border: solid 2px #268750;
}

.reserveButton {
  background-color: #efad32;
  padding: 0.3rem 1rem;
  color: white;
  /* margin-left: 1rem; */
  font-size: var(--size-5);
  box-shadow: 5px 5px 0px 1px #db981b;
}

.reserveButton::before {
  background-color: #f2a922;
  padding: 0.6rem 1.3rem;
  color: white;
  margin-left: 2rem;
  font-size: var(--size-5);
}

.playersContainer button {
  background-color: rgb(226, 223, 223);
  color: black;
  border: none;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  /* margin-right: 0.4rem; */
}

.playersContainer button:hover {
  background-color: #db981b;
  color: white;
}

.bookingContainer h3 {
  margin: 0.2rem 0;
}

.playersContainer span {
  font-size: 1.5rem;
  margin: 0 0.4rem;
}

.reactDatePicker input {
  display: none;
}

.dateContainer {
  margin-top: 2rem;
}

.dateDisplay button {
  background-color: rgb(226, 223, 223);
  color: black;
  border: none;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin: 0.4rem 0;
}

.dateDisplay button:hover {
  background-color: #db981b;
  color: white;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 35rem;
  /* background-color: #268750; */
}

.imageWrapper {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  background-color: rgb(26, 87, 50);
  z-index: 10;
}

.imageWrapper img {
  width: 70%;
  height: 100%;
}

.imageContainer {
  background-image: url("../../public/images/background1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 35rem;
  /* opacity: 25%; */
}

.reserveButtonDisabled {
  background-color: #ababab;
  padding: 0.3rem 1rem;
  /* border: 10px solid rgb(137, 227, 59); */
  color: white;
  margin-left: 2rem;
  font-size: var(--size-5);
  box-shadow: 5px 5px 0px 1px #888888;
}

.reserveButtonDisabled::before {
  background-color: #f2a922;
  padding: 0.6rem 1.3rem;
  color: white;
  margin-left: 2rem;
  font-size: var(--size-5);
}

@media screen and (max-width: 1116px) {
  .text {
    color: white;
    position: absolute;
    top: 10%;
    display: flex;
    flex-direction: column;
    margin: 0 5rem;
    z-index: 20;
  }

  .imageContainer {
    position: relative;
    width: 100%;
    height: 35rem;
    background-color: #268750;
    opacity: 25%;
  }

  .leftSideContainer {
    position: relative;
    width: 100%;
    height: 35rem;
    opacity: 25%;
    background-color: rgb(26, 87, 50);
  }

  .texth3 {
    display: none;
  }

  .text h2 {
    display: none;
  }

  .text p {
    font-size: 1rem;
    color: white;
    margin-bottom: 1rem;
  }

  .bookingContainer {
    padding: 0 2rem 1rem 2rem;
  }
}

@media screen and (max-width: 910px) {
  .container {
    margin: 10rem 2rem;
  }

  .texth3 {
    display: none;
  }

  .text h2 {
    display: none;
  }

  .text p {
    font-size: 1rem;
    color: white;
    margin-bottom: 3rem;
  }

  .bookingContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .dateContainer {
    margin-top: 0;
  }

  .reserveButton {
    padding: 0.3rem 1rem;
    font-size: var(--size-4);
  }

  .reserveButtonDisabled {
    background-color: #ababab;
    padding: 0.3rem 1rem;
    /* border: 10px solid rgb(137, 227, 59); */
    color: white;
    margin-left: 2rem;
    font-size: var(--size-5);
    box-shadow: 5px 5px 0px 1px #888888;
  }

  .reserveButtonDisabled::before {
    background-color: #f2a922;
    padding: 0.6rem 1.3rem;
    color: white;
    margin-left: 2rem;
    font-size: var(--size-5);
  }
}

@media screen and (max-width: 620px) {
  .bookingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .playersContainer {
    margin-bottom: 2rem;
  }

  .reserveButton {
    padding: 0.3rem 1rem;
    font-size: var(--size-3);
  }

  .reserveButtonDisabled {
    padding: 0.3rem 1rem;
    font-size: var(--size-3);
    margin: 0;
  }
}
/* 

.leftSideContainer {
  position: relative;
  width: 100%;
  height: 35rem;
  opacity: 25%;
  background-color: rgb(26, 87, 50);
}

.textContainer {
  position: absolute;
  top: 10%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textContainer h1 {
  font-size: 3rem;
}

.text {
  margin-left: 5rem;
}



 */
