.container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem 5rem;
}

.imagesContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image img {
  max-width: 250px;
  height: 425px;
  margin-right: 2rem;
}

.numbers {
  background-color: white;
  min-width: 5rem;
  position: absolute;
  top: 10%;
  left: 19%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.numbers h1 {
  margin: 0;
  margin-top: 1rem;
}

.numbers p {
  margin: 0;
  margin-bottom: 1.5rem;
  color: #5d5d5d;
}

.text {
  position: relative;
}

.text h3 {
  position: absolute;
  top: 2%;
  color: #858585;
}

.text h1 {
  color: #ececec;
  font-size: 3rem;
  margin: 0;
}

.text h2 {
  font-size: 4rem;
  margin: 0;
}

.text p {
  font-size: 1rem;
  color: #858585;
  margin-bottom: 3.5rem;
}

.rectangular {
  width: 100%;
  height: 30px;
  background-color: gray;
  position: relative;
  margin: 1rem 0;
}

.greenRectangular {
  width: 80%;
  height: 30px;
  position: absolute;
  top: 0;
  background-color: #268750;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
}

.yellowFilled {
  width: 50%;
  height: 30px;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f2a922;
  padding: 0 3%;
}

.greenRectangular2 {
  width: 60%;
  height: 30px;
  position: absolute;
  top: 0;
  background-color: #268750;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
}

.rectangular p {
  position: absolute;
  top: -40%;
  color: white;
  margin-right: 5rem;
}

.rectangular span {
  color: white;
  margin-left: auto;
}

@media screen and (max-width: 1116px) {
  .container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin: 3rem 5rem;
  }

  .image{
    display: none;
  }
}

@media screen and (max-width: 910px) {
  .container {
    
    margin: 3rem 2rem;
  }
}