.container {
  /* margin: 3rem 5rem; */
  width: 100%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.numbers {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.number h1 {
  margin-right: 1rem;
  color: #268750;
}

.number p {
  font-weight: bolder;
}

@media screen and (max-width: 970px) {
  .container {
    /* width:100%; */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  }
}

@media screen and (max-width: 550px) {
  .numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
  }
}
