.container {
  margin: 6rem 0 3rem 0;
}

.text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services {
  margin: 1rem 5rem 8rem 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.service {
  margin-right: 2rem;
}

.service p {
  border-left: 2px solid #268750;
  padding-left: 1rem;
  font-weight: lighter;
  color: #5d5d5d;
}

@media screen and (max-width: 910px) {
  .container {
    margin: 6rem 2rem;
  }

  .textClub {
    position: absolute;
    top: 1%;
  }

  .textHeader2 {
    font-size: 2rem;
    margin: 0;
  }

  .textp {
    font-size: 1rem;
    color: #858585;
    margin-bottom: 1rem;
  }

  .services {
    margin: 3rem 0 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .service {
    margin: 1rem 0;
  }
}
