.starting {
  position: relative;
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    var(--color-grey-900),
    var(--color-grey-800)
  );
}

.startingText {
  width: 30rem;
  height: fit-content;
  position: absolute;
  top: 180px;
  left: 80px;
  color: white;
  padding: 20px;
}

.image img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
}

.image {
  position: relative; /* Add this */
  width: 100%;
  height: 40.7rem;
  overflow: hidden;
}

.image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Adjust the alpha value to control darkness */
  pointer-events: none;
}

.image img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
}

.starting h1 {
  font-size: var(--size-16);
  margin: var(--size-4) 0;
}

.starting h2 {
  margin: var(--size-4) 0 var(--size-8);
}

.starting p {
  font-size: var(--size-6);
  width: 100%;
  max-width: 40rem;
}
