.signup {
  position: relative;
}

.image {
  min-height: 95vh;
  overflow: hidden;
  position: relative;
}

.signupForm {
  width: 30rem;
  max-height: 40rem;
  position: absolute;
  padding: 1% 3% 1% 3.2%;
  background-color: rgb(255, 255, 255, 0.9);
  top: 25%;
  left: 6%;
}

.signupForm input {
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
}

.signupForm select {
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;

  /* margin-left: 0.8rem; */
}

.signupForm h1 {
  text-align: center;
  margin: 0 0.5rem 1rem 0.5rem;
}

.signupForm h3 {
  margin: 0 1rem 0 1rem;
  /* width: 100%; */
}

.button {
  /* width: 50%; */
  /* margin: 1rem; */
  font-size: var(--size-6);
  padding: 2%;
  background-color: rgb(137, 227, 59);
  border: 2px solid rgb(137, 227, 59);
  color: black; /* Assuming you want the text to be white */
  text-align: center; /* To center the text within the button */
  text-decoration: none; /* To remove default link underline */
  cursor: pointer; /* To indicate interactivity */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: rgb(100, 165, 43);
  border-color: rgb(100, 165, 43);
  color: white;
}

.notMember {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

@media screen and (max-width: 650px) {
  .signup {
    overflow: hidden;
  }
  .signupForm {
    width: 21rem;
  }
}
